* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: white;
  --gray: rgba(128, 128, 128, 0.555);
  --red: rgba(253, 0, 0, 0.815);
  --light-gray: rgb(155, 155, 155);
}

.viewBook > nav {
  margin-bottom: 30px;
}

.viewBook {
  margin: 100px 200px;
  position: relative;
}

.viewBook > div {
  display: flex;
}

.viewBook > div > main {
  margin: 30px 100px;
}

.viewBook > nav > p {
  font-size: 20px;
}

.viewBook > div > main > div > p {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--white);
}

.viewBook img {
  cursor: pointer;
}

.viewBook > div > main > div > p:nth-child(1) {
  font-size: 40px;
}

.viewBook > div > main > div > p:nth-child(2) {
  font-style: italic;
  font-size: 25px;
}

.viewBook > div > main > nav {
  margin-top: 60px;
}

.viewBook a:hover {
  color: var(--red);
  cursor: pointer;
}

.btnPurchase {
  display: flex;
}

@media (max-width: 1100px) {
  .viewBook > div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .viewBook > div > main {
    margin: 5px 40px;
  }
}

@media (max-width: 700px) {
  .btnPurchase {
    display: flex;
    flex-direction: column;
  }
  .viewBook img {
    width: 20vh;
  }
  .viewBook {
    margin: 30px;
  }
}
