html {
  --white: white;
  --gray: rgba(65, 65, 65, 0.596);
  --red: rgba(253, 0, 0, 0.815);
  --light-gray: rgb(155, 155, 155);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.formBook {
  border: 1px solid white;
  text-align: center;
  padding: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.664);
  margin: 0px 400px;
  box-shadow: 2px 5px 8px rgb(95, 95, 95);
  border-radius: 8px;
  max-width: 600px;
  min-width: 300px;
}

.formBook > form {
  margin: auto;
  height: 350px;
}

.formBook > form > div {
  margin-top: 10px;
}

.formBook > form > div:first-child,
.formBook > form > div:nth-child(2) {
  margin-left: 170px;
}

.formBook input {
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.formBook > p {
  font-size: 20px;
  font-weight: bold;
}

.formBook > button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: black;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.formBook > form > input {
  background: var(--red);
  border: none;
  width: 100px;
  color: white;
  cursor: pointer;
}

.forms {
  padding: 190px;
  background: no-repeat center/100% url("../img/fondo-forms.jpg");
}

@media (max-width: 1400px) {
  .formBook {
    margin: 0 100px;
  }
}

@media (max-width: 1000px) {
  .formBook {
    margin: 0 50px;
  }
  .formBook > form > div:first-child,
  .formBook > form > div:nth-child(2) {
    margin-left: 100px;
  }
  .forms {
    padding: 80px;
  }
}

@media (max-width: 600px) {
  .formBook {
    margin: 0 20px;
  }
  .formBook > form > div:first-child,
  .formBook > form > div:nth-child(2) {
    margin-left: 20px;
  }
  .forms {
    padding: 20px;
  }
}
