html {
  --white: white;
  --gray: rgba(65, 65, 65, 0.596);
  --red: rgba(253, 0, 0, 0.815);
  --light-gray: rgb(155, 155, 155);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerPrincipal {
  height: 350px;
  background: no-repeat center/100% url("../img/f-p-13.png");
}

.headerPrincipal > h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 80px;
  margin-bottom: 30px;
}
.seeker {
  margin: 0 300px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select {
  background-color: var(--red);
  border: none;
  padding: 5px 15px;
  color: var(--white);
  font-weight: bold;
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
  font-size: 16px;
}

.textSeek > :first-child {
  width: 400px;
  height: 28px;
  border: none;
  padding-left: 10px;
}

.textSeek > :last-child {
  border: none;
  padding: 5px 20px;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .textSeek > :first-child {
    width: 200px;
  }
  .seeker {
    margin: 0 100px 0;
  }
}

@media (max-width: 700px) {
  .seeker {
    margin: 0 0px 0;
  }
  .textSeek > :last-child {
    font-size: 2vh;
  }

  .textSeek > :first-child {
    width: 80px;
  }
  .headerPrincipal > h1 {
    font-size: 8vh;
  }
}
