html {
  --white: white;
  --gray: rgba(65, 65, 65, 0.596);
  --red: rgba(253, 0, 0, 0.815);
  --light-gray: rgb(155, 155, 155);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerPrincipal {
  height: 350px;
  background: no-repeat center/100% url("../img/f-p-13.png");
}

.headerPrincipal > h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 80px;
  margin-bottom: 30px;
}
.seeker {
  margin: 0 300px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select {
  background-color: var(--red);
  border: none;
  padding: 7px 15px;
  color: var(--white);
  font-weight: bold;
  border-radius: 15px 0px 0px 15px;
}

.textSeek > :first-child {
  width: 400px;
  height: 28px;
  border: none;
  padding-left: 10px;
}

.textSeek > :last-child {
  border: none;
  padding: 7px 20px;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}
