* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: white;
  --gray: rgba(128, 128, 128, 0.555);
  --red: rgba(253, 0, 0, 0.815);
}

#lastBooks > ul {
  margin: 0px 300px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

#lastBooks > h3 {
  margin: 50px 200px;
  color: var(--red);
}

.book {
  width: 300px;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 2px 4px 7px rgb(255, 0, 0);
  margin-bottom: 30px;
  padding: 40px;
  background: black;
  box-sizing: border-box;
}

.book:hover {
  transform: scale(2);
  z-index: 100;
  cursor: pointer;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.author {
  font-style: italic;
  margin-bottom: 10px;
}

.book > main > p {
  margin-left: 20px;
}

.book > main {
  position: relative;
}

.price {
  position: absolute;
  bottom: 2px;
  right: 0;
}

@media (max-width: 1400px) {
  #lastBooks > ul {
    margin: 0px 300px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .book {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .price {
    bottom: -20px;
    right: 15px;
  }
}

@media (max-width: 1000px) {
  #lastBooks > ul {
    margin: 0px 200px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .price {
    bottom: -20px;
    right: 15px;
  }
  .book {
    width: 150px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}

@media (max-width: 700px) {
  #lastBooks > ul {
    margin: 0px 30px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .book {
    width: 150px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .price {
    bottom: -20px;
    right: 15px;
  }
  #lastBooks > h3 {
    margin: 20px;
  }
}
