* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: white;
  --gray: rgba(128, 128, 128, 0.555);
  --red: rgba(253, 0, 0, 0.815);
  --black: black;
}

.listBooksUser {
  margin: 100px 200px;
}

.listBooksUser > section > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 80px;
}

.listBooksUser > p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.listBooksUser > section {
  text-align: center;
}

.listBooksUser > section > button {
  background: none;
  color: var(--red);
  border: 1px solid var(--red);
  border-radius: 8px;
  width: 100px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.listBooksUser > section > button:hover {
  border: 2px solid var(--red);
  cursor: pointer;
}

.listBooksUser > nav > p {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .listBooksUser {
    margin: 20px 200px;
  }
  .listBooksUser > section > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
  }
}

@media (max-width: 700px) {
  .listBooksUser {
    margin: 10px 10px;
  }
}
