.linkPrincipal > a {
  color: white;
  margin-left: 20px;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.linkPrincipal {
  position: absolute;
  top: 30px;
  right: 80px;
}

.principal {
  position: relative;
}
