* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: white;
  --gray: rgba(128, 128, 128, 0.555);
  --red: rgba(253, 0, 0, 0.815);
  --black: black;
}

.profileInside {
  margin: 0px 200px;
}

.profileInside > nav {
  background: linear-gradient(to right, var(--red), var(--black));
  height: 80px;
  padding-top: 30px;
}

.profileInside > nav > a {
  color: var(--white);
  font-weight: bold;
  margin: 0px 100px;
}

.profileInside > header {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/f-p-12.jpg");
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

.profileInside > header > main {
  margin-top: 60px;
}

.profileInside > header > img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 20px 200px;
}

.profileInside > main > nav {
  display: grid;
  grid-template-areas:
    "Notif  Notif Fav"
    "Pur   Res  Fav"
    "Pur  Sell Sell";
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 100px;
  grid-gap: 30px;
  text-align: center;
}

.profileInside > main > nav > div {
  font-size: 30px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 3px 6px rgb(95, 95, 95);
}

.profileInside > main > nav > div > a {
  margin: auto;
}

.profileInside > main > nav > div:hover {
  background: var(--red);
}

#notif {
  grid-area: Notif;
}

#fav {
  grid-area: Fav;
}

#pur {
  grid-area: Pur;
}

#sell {
  grid-area: Sell;
}

#res {
  grid-area: Res;
}

.profileInside > header > main > p {
  text-transform: capitalize;
}

.profileInside > header > main > p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}
