* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: white;
  --gray: rgba(128, 128, 128, 0.555);
  --red: rgba(253, 0, 0, 0.815);
}

.profileOut {
  margin: 10px 100px 0px;
}

.profileOut > header {
  display: flex;
  padding: 30px 0px 30px 200px;
  background: no-repeat center/100% url("../img/perfil-2.jpg");
  border-radius: 4rem;
}

.profileOut > header > div {
  margin-left: 120px;
}

.profileOut > header > div > p {
  text-transform: capitalize;
  margin-top: 10px;
}

.profileOut > header > div > p:first-child {
  font-weight: bold;
  font-size: 30px;
}

.profileOut > header > img {
  width: 200px;
  height: 200px;
  border-radius: 50rem;
  border: 2px solid #666;
}

.profileOut > main > ul {
  display: grid;
  margin: 50px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profileOut > main > ul > li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;
}
