* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: white;
  --gray: rgba(128, 128, 128, 0.555);
  --red: rgba(253, 0, 0, 0.815);
}

.profileOut {
  margin: 10px 250px 0px;
}

.profileOut > header {
  display: flex;
  height: 300px;
  background: no-repeat right/50% url("../img/f-perfil.jpg");
  box-shadow: 0 4px 2px -2px rgb(153, 153, 153);
}

.profileOut > header > div {
  margin-left: 60px;
  margin-top: 90px;
  text-align: center;
}

.profileOut > header > div > p {
  text-transform: capitalize;
  margin-top: 10px;
}

.profileOut > header > div > p:first-child {
  font-weight: bold;
  font-size: 30px;
}

.profileOut > header > img {
  width: 200px;
  height: 200px;
  border-radius: 50rem;
  border: 2px solid #666;
  margin-top: 30px;
  margin-left: 100px;
}

.profileOut > main > ul {
  display: grid;
  margin: 50px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.profileOut > nav {
  margin-top: 20px;
  margin-left: 20px;
}

.profileOut a:hover {
  color: var(--red);
  cursor: pointer;
}

@media (max-width: 1400px) {
  .profileOut {
    margin: 10px 100px 0px;
  }
  .profileOut > main > ul {
    display: grid;
    margin: 50px 40px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
}

@media (max-width: 1000px) {
  .profileOut > header {
    background: no-repeat right/30% url("../img/f-perfil.jpg");
  }
}

@media (max-width: 700px) {
  .profileOut > header {
    background: black;
  }
  .profileOut > header img {
    width: 90px;
    height: 90px;
    margin-top: 100px;
    margin-left: 40px;
  }
  .profileOut {
    margin: 20px;
  }
  .profileOut > main > ul {
    margin: 0px;
  }
}
