* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: white;
  --gray: rgba(128, 128, 128, 0.555);
  --red: rgba(253, 0, 0, 0.815);
  --black: black;
}

.profileInside {
  margin: 0px 200px;
}

.profileInside > nav {
  background: linear-gradient(to right, var(--red), var(--black));
  height: 80px;
  display: flex;
}

.profileInside > nav > section > button {
  font-size: 50px;
  background: transparent;
  color: white;
  border: none;
}

.profileInside > nav > ul {
  padding-top: 28px;
}

.profileInside > nav > section {
  padding-top: 20px;
}

.profileInside > nav > section > ul {
  background: rgb(0, 0, 0);
  border-left: 1px solid white;
  padding: 10px;
}

.profileInside > nav > section > ul > li {
  margin: 6px 0px 10px 10px;
}

.profileInside > nav > section > ul > li:hover,
.profileInside > nav > section > ul > li > button:hover {
  background: var(--red);
}

.profileInside > nav > section > ul > li > button {
  background: black;
  border: none;
  color: white;
  font-size: 20px;
}

.profileInside > nav > section {
  margin-left: 500px;
  z-index: 100;
}

.profileInside > nav > ul {
  display: flex;
}

.profileInside li {
  list-style: none;
}
.profileInside > nav > ul > li > a {
  font-weight: bold;
  list-style: none;
  margin: 0px 100px;
}

.profileInside > header {
  display: flex;
  background: no-repeat right/50% url("../img/f-perfil.jpg");
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

.profileInside > header > main {
  margin-top: 60px;
}

.profileInside > header > img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 20px 100px;
}

.profileInside > main > nav > ul {
  display: grid;
  grid-template-areas:
    "Notif  Notif Fav"
    "Pur   Res  Fav"
    "Pur  Sell Sell";
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 100px;
  grid-gap: 30px;
  text-align: center;
}

.profileInside > main > nav > ul > li {
  font-size: 30px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 10px rgb(95, 95, 95);
}

.profileInside > main > nav > ul > li > a {
  margin: auto;
  transform-origin: botton left;
  transition: 1000ms;
  font-size: 30px;
}

.profileInside > main > nav > ul > li > a:hover {
  transform: scale(-3);
  transform: rotate(360deg);
  cursor: pointer;
}

.profileInside > main > nav > ul > li:hover {
  background: var(--red);
  cursor: pointer;
}

#notif {
  grid-area: Notif;
}

#fav {
  grid-area: Fav;
}

#pur {
  grid-area: Pur;
}

#sell {
  grid-area: Sell;
}

#res {
  grid-area: Res;
}

.profileInside > header > main > p {
  text-transform: capitalize;
}

.profileInside > header > main > p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 1400px) {
  .profileInside {
    margin: 0px;
  }

  .profileInside > nav > a {
    margin: 0px 80px;
  }
}

@media (max-width: 1200px) {
  .profileInside {
    margin: 0px;
  }
  .profileInside > header {
    background: no-repeat right/30% url("../img/f-perfil.jpg");
  }
  .profileInside > nav > ul > li > a {
    margin: 0px 40px;
  }
  .profileInside > main > nav > ul {
    margin: 20px;
  }
  .profileInside > nav > section {
    margin-left: 400px;
  }
}

@media (max-width: 900px) {
  .profileInside > nav > section {
    margin-left: 250px;
  }
}

@media (max-width: 700px) {
  .profileInside {
    margin: 0px;
  }
  .profileInside > header {
    background: black;
  }
  .profileInside > nav {
    padding: 25px;
  }
  .profileInside > nav > ul > li > a {
    margin: 0px 10px;
  }
  .profileInside > main > nav > ul {
    margin: 20px;
  }
  .profileInside > header > img {
    width: 90px;
    height: 90px;
    margin-top: 60px;
    margin-right: 20px;
  }

  .profileInside > main > nav > ul > li > a {
    font-size: 15px;
  }
  .profileInside > nav > section {
    margin-left: 50px;
  }
}
